*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e6f0fa;
}

.navbar{
    width: 1264px;
    height: 75px;
    margin-bottom: 10px;
    background-color: #0B3D91;
}

.hello{
    position: absolute;
    height: auto;
    left: 30px;
    width: 150px;
    padding: 5px;
    margin-top: 6px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    font-family: arial;
    font-size: 40px;
}
.sky {
  color: #87CEEB;
}

.deal {
  color: #fff;
}

.TRK {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: arial;
}

.IMM {
    width: 50%;
    height: 250px;
    text-align: center;
    margin-left: 25.5%;
    margin-top: 5%;
    border-radius: 10px;
}

.HA2 {
    position: absolute;
    top: 75%;
    left: 2%;
    color: #0B3D91;
     font-family: arial;
}

.PE1 {
   position: absolute;
   left: 2%;
   top: 80%;
   text-align: justify;
   font-family: times New Roman;
}

.PRICE {
    position: absolute;
    left: 66%;
    top: 84%;
    font-size: 32px;
    color: #0B3D91;
}

.TBL {
    position: absolute;          
    top: 90%;                    
    left: 85%;                   
    padding: 13px 35px;          
    background-color: #007BFF;   
    color: white;                
    border: none;                
    border-radius: 5px;          
    display: flex;                        
    cursor: pointer;     
}

/*JADWAL*/
.container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;     
  margin-top: 0px;
  height: 100vh; 
  gap: 25px;     
}

.persegi-panjang {
  top: 25px;
  width: 280px;
  height: 230px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.JADWAL {
    margin-left: 2%;
    margin-top: 225px;
    font-family: arial;
    color: #0B3D91;
}

.FRM {
    margin-top: 10px;
    margin-left: 10px;
    font-family: arial;
}

.persegi-panjang p {
    margin-left: 10px;
}

.From1 {
    margin-right: 10px;
    text-align: right;
}

.PR {
    margin-right: 5px;
    font-family: arial;
    color: #0B3D91;
    text-align: right;
}

.BOOK {    
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 13px 102.5px;          
    background-color: #007BFF;   
    color: white;                
    border: none;                
    border-radius: 5px;          
    display: flex;                        
    cursor: pointer;     
}

.IF {
    margin-right: 5px;
    color: #727070;
    text-align: right;
}
/*DONE*/