*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 1280px;
    height: 75px;
    margin-bottom: 10px;
    background-color: #F6F0F0;
}

.hello{
    position: absolute;
    height: auto;
    left: 30px;
    width: 150px;
    padding: 5px;
    margin-top: 6px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    font-family: arial;
    font-size: 40px;
}
.sky {
  color: #87CEEB;
}

.deal {
  color: #87CEEB;
}

.TRK {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: arial;
}

.IMS {
    width: 50%;
    height: 260px;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

.HA2 {
    position: absolute;
    top: 72%;
    left: 2%;
    color: #522d6d;
     font-family: arial;
}

.PE1 {
   position: absolute;
   left: 2%;
   top: 77%;
   text-align: justify;
   font-family: times New Roman;
}

.PRICE {
    position: absolute;
    left: 65%;
    top: 84%;
    font-size: 32px;
    color: #522d6d;
}

.TBL {
    position: absolute;          
    top: 90%;                    
    left: 84%;                   
    padding: 13px 35px;          
    background-color: #007BFF;   
    color: white;                
    border: none;                
    border-radius: 5px;          
    display: flex;                        
    cursor: pointer;     
}